.movie-card {
  border: 1px solid black;
  padding: .5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
form, .details {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.details {
  .comment, .rating, .title {
    font-size: 1.5em;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding-right: .5rem;
    margin-bottom: .5rem;
  }
  .label {
    font-weight: lighter;
    font-size: .25em;
    text-transform: uppercase;
  }
}
form {
  .label {
    margin-right: .25rem;
  }
}

.actions {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  &.edit {
    justify-content: space-between;
  }
}

.form-group {
  width: 100%;
}

@media(min-width: 768px) {
  .details {
    .actions {
      width: 10%;
      &.edit {
        width: 30%;
      }
    }
    .rating {
      width: 8%;
    }
    .title {
      width: 30%;
    }
    .comment {
      width: auto;
      flex: 1;
    }
  }

}