<article class="movie-card" *ngIf="movie">
  <ng-container *ngIf="edit; else show">
    <form (ngSubmit)="updateMovie()">
      <h2 class="title">
        <span class="label">Title:</span>{{movie.title}}
      </h2>
      <label class="rating">
        <span class="label">Current Rating: {{movie.rating}}</span>
        <input name="rating" type="number" [(ngModel)]="newReview.rating">
      </label>
      <label class="comment">
        <span class="label">Current Comment: {{movie.comment}}</span>
        <input name="comment" type="string" [(ngModel)]="newReview.comment">       
      </label>
      <button type="submit">Update</button>
      <button type="button" (click)="edit=false">Cancel</button>
      <button type="button" (click)="deleteMovie()">Delete Review</button>
    </form>
  </ng-container>
  <ng-template #show>
    <small>{{movie.id}}</small>
    <h2 class="title">
      <span class="label">Title:</span>{{movie.title}}
    </h2>
    <h3 class="rating">
      <span class="label">Rating:</span><span>{{movie.rating}}</span>
    </h3>
    <p class="comment">
      <span class="label">Comment:</span><span>{{movie.comment}}</span>
    </p>
    <button type="button" (click)="edit=true">Edit</button>
  </ng-template>
</article>